{{#*inline "radio" i j t}}
  <label><input type=radio name=otazka_{{t}}_{{i}} value={{j}} required>{{j}}</label>
{{/inline}}

{{#*inline "heading"}}
  {{#if name}}
    {{name}}, {{subject}}
  {{else if text}}
    {{text}}
  {{else}}
    Hotovo
  {{/if}}
{{/inline}}

{{#*inline "hiddens"}}
  <input type=hidden name=token value='{{token}}'>
  <input type=hidden name=step value='{{step}}'>
{{/inline}}

<h1>{{>heading}}</h1>
<form method=post>
{{#if doubleQuestions}}
  <table>
  {{#each questions}}
    <tr><td>{{this}}</td><td class=center colspan=2>
    Zcela souhlasím
    {{#each ../options}}
      {{> radio i=@../index j=this t="s"}}
    {{/each}}
    Vůbec nesouhlasím
    </td></tr>
  {{/each}}
  <tr><th><small>Hodnocení známkou (1 = výborně, 5 = nedostatečně)</small></th><th>Při distanční výuce</th><th>Při běžné výuce</th></tr>
  {{#each doubleQuestions}}
    <tr><td>{{this}}</td><td>
    {{#each ../options}}
      {{> radio i=@../index j=this t="d"}}
    {{/each}}
    </td><td>
    {{#each ../options}}
      {{> radio i=@../index j=this t="p"}}
    {{/each}}
    </td></tr>
  {{/each}}
  <tr></tr>
  <tr><td></td><td class=center colspan=2><button>Odeslat</button></td></tr>
  </table>
{{else if text}}
  <div>
    Zcela souhlasím
    {{#each options}}
      {{> radio i=0 j=this t="s"}}
    {{/each}}
    Vůbec nesouhlasím
    </div>
  <small>Slovní odpověď:</small><br>
  <textarea name=otazka rows=10 cols=120></textarea><br>
  <button>Odeslat</button>
{{else}}
  <p>Dotazník máte hotový, díky za vyplnění.</p>
{{/if}}
{{> hiddens}}
</form>

{{#if options}}
  <form method=post>
  <p>
  {{#if subgroup}}
  Pokud nejste ve skupině {{subgroup}} nebo nedokážete odpovědět, můžete hodnocení vynechat:<br>
  {{else}}
  Pokud nedokážete odpovědět, můžete hodnocení vynechat:<br>
  {{/if}}
  <button onclick='return confirm("{{#if doubleQuestions}}Opravdu chcete vynechat hodnocení tohoto předmětu?{{else}}Opravdu chcete vynechat tuto otázku?{{/if}}");'>Přeskočit</button>
  </p>
  {{> hiddens}}
  </form>
{{/if}}
