<form method=post>
{{#if filledEarly}}
  <h3>Omlouváme se za technickou chybu, kdy se některé komentáře chybně předvyplňovaly.</h3>
  <p>Pokud jste dotazník začali vyplňovat už ve čtvrtek ráno, projděte, prosím, svoje komentáře u všech otázek a zkontrolujte, že jste je opravdu v této podobě chtěli odeslat.
</p>
<hr>{{/if}}
<p>
  Pro vyučujícího každého předmětu budete na škále od 1 (zcela souhlasím) do 5 (zcela nesouhlasím) hodnotit tato tři tvrzení:
</p>
<ul>
<li>Její/jeho hodnocení (známky, slovní hodnocení, ústní komentáře atd.) mě vede k tomu, jak se zlepšovat.</li>
<li>Myslím, že se ke všem chová spravedlivě a férově.</li>
<li>Jedná se mnou s respektem.</li>
</ul>
<p>
  Jednotliví vyučující mohou mít doplňující otázky, které se v takovém případě také zobrazí.
</p>
<p>
  Vyučující budete hodnotit v následujícím vylosovaném pořadí:
</p>
<ol>
{{#each subjects}}
  <li>{{teacherName}}: {{joinBy subjects "subjectName" ", "}}</li>
{{/each}}
</ol>
<p>
  Hodnocení můžete kdykoliv přerušit a později se k němu vrátit.
  Ukládá se průběžně.
  I neúplné dotazníky budou započteny do výsledků.
</p>
<hr>
{{> navigator }}
<button type="submit">&#9656; Další</button>
</form>
